<footer>
    <div class="footer-div">    
        <ul class="footer-bar">
            <li class = "fire-color">
                <a href="/contacts">Contacts</a>
            </li>
            <li class = "fire-color">
                <a href="/about-us">About us</a>
            </li>
            <li class = "fire-color">
                <a href="/">Something else</a>
            </li>
        </ul>
    </div>
</footer>