<nav>
    <div class="navigation">
        <span class="LOGO">
            <a href="/">GUITAR HEAVEN</a>
        </span>
        <span>
            <ul id = "nav_links">
                <li class = "nav_link"><a href="/"> All Guitars </a></li>
                <li class = nav_link><a href="/"> Your Cart </a></li>
                <li class = nav_link><a href="/"> Contacts   </a></li>
            </ul>
        </span>
    </div>
</nav>
    