<nav>
    <div class="navigation">
        <span class="LOGO">
            <ul>
                <li style="padding-bottom: 15px;">
                    <a href="/"><img src="/resources/images/GHpickOnFire.png" alt="Logo" id = "LOGO"></a>
                </li>
                <li style="padding-top: 20px;">
                    <a href="/" id="logo-a">Guitar Heaven</a>
                </li>
            </ul>
        </span>
        <span>
            <ul id = "nav_links">
                <li class = "nav_link"><a href="/catalog"> All Guitars </a></li>
                <li class = nav_link><a href="/your-cart"> Your Cart </a></li>
                <li class = nav_link><a href="/contacts"> Contacts</a></li>
            </ul>
        </span>
    </div>
</nav>
    