<nav>
    <div class="navigation">
        <span class="LOGO">
            <a href="/"><img src="/resources/images/GHpickOnFire.png" alt="Logo" id = "LOGO"></a>
            <a href="/">GUITAR HEAVEN</a>
        </span>
        <span>
            <ul id = "nav_links">
                <li class = "nav_link"><a href="/catalog"> All Guitars </a></li>
                <li class = nav_link><a href="/your-cart"> Your Cart </a></li>
                <li class = nav_link><a href="/contacts"> Contacts</a></li>
            </ul>
        </span>
    </div>
</nav>
    