body{
    background-color: black;
    background-image: url("wooden-texture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div#page{
    color: white;
    /* position: absolute; */
    margin: auto;
    width: 80%;
    height: 5000px;
    background-color: black;
    opacity: 0.6;
}
a:hover{
    color: red;
}
a:link{
    color: yellow;
    text-decoration: none;

}
a:visited{
    color: orange;
}
