<h1>We are the best!</h1>
<img src="/resources/images/guitars_wall.jpg" alt="Should have been the wall">

<p class = "about-information"> 
Guitar Heaven is the world’s largest retailer of guitars, amplifiers,recording, live sound, DJ, and lighting equipment, with more than 260 stores across the U.S. 2014 marks the milestone 50th anniversary of the Guitar Heaven Brand as we continue to help people make music from coast to coast.
</p>

<img src="/resources/images/happy_customer.jpg" alt="Should have been the customer" style="float:right; width: 50%;">


<p class = "about-information">
 In addition, the Music & Arts division operates more than 120 stores specializing in band & orchestral instruments for sale and rental, serving teachers, band directors, college professors, and students since 1952. 
</p>
 
<p class = "about-information">
 With an unrivaled in-store experience and passionate commitment to making gear easy-to-buy, Guitar Heaven is all about enabling musicians and non-musicians alike to experience the almost indescribable joy that comes from playing an instrument. All we sell is the greatest feeling on earth.
</p>


