<div class="back-color-white search_block" style="margin-top: 15px;">
    <form action="/catalog" method="post" class = "block">
        <input type="text" name="search" class="search_box" placeholder="Find Me A Guitar" style="width: 100%;" value>
        <button type="submit">
            <i class="fas fa-search fa-2x" style="padding: 11px 0 0 10px; size: 20px;">
            </i>
        </button>   
        
    </form>  
</div>
<%if(guitars.length==0){%>
    <div style="text-align: center;">
        <h2>There is nothing to be found...</h2>
    </div>
<%}%>   

<div class = "collection-wrapper">
    <% for(var i = 0; i < guitars.length; i++){ %>
        <%var guitar = guitars[i];%>
        <a href= <%-"/catalog/" + guitar.id%> >
            <div class="collection">
                <ul  style="padding: 15px; margin: 10px;">
                    <li style="height:180px;overflow:auto;">
                        <img src=<%- guitar.image %>></td>
                    </li>
                    <li>
                        <p> Name: <strong class="guitar-stats"> <%- guitar.guitarName %> </strong> </p>
                    </li>
                    <li>
                        <p> Price: <strong class="guitar-stats"> <%- guitar.price %> </strong> </p>
                    </li>
                </ul>
            </div>
        </a>
    <% } %>
</div>