
<h1>How can you find us?</h1>

<div class = "collection-wrapper">
    <div class = "collection" style= "font-size: 30px; text-align: center;">
        <h3><strong class="guitar-stats" style = "font-size: 45px;">Left Land</strong></h3>
        <p>Address: <strong class="guitar-stats"> Musical street, Good morning region </strong></p>
        <p>Phone: <strong class="guitar-stats">0898234512</strong></p>
        <p></p>
    </div>
    <div class = "collection" style= "font-size: 30px; text-align: center;">
        <h3><strong class="guitar-stats" style = "font-size: 45px;">Main Land</strong></h3>
        <p>Address: <strong class="guitar-stats">Rhythmical street, Good afternoon region </strong></p>
        <p>Phone: <strong class="guitar-stats">0898234612</strong></p>
        <p></p>
    </div>
    <div class = "collection" style= "font-size: 30px; text-align: center;">
        <h3><strong class="guitar-stats" style = "font-size: 45px;">Right Land</strong></h3>
        <p>Address: <strong class="guitar-stats"> Singing street, Good evening region </strong></p>
        <p>Phone: <strong class="guitar-stats">0898234712</strong></p>
        <p></p>
    </div>
</div>