

<div style="display:flex;">
    <div class="view">
        <img src= <%- guitar.image %> alt="Guitar image... At least it should have been...">
    </div>

    <div class="guitar-content">
        <p class="content"> Name: <strong class="guitar-stats stat-values"> <%- guitar.guitarName %> </strong> </p>
        <p class="content"> Price: <strong class="guitar-stats stat-values"> <%- guitar.price %> </strong> </p>
        <p class="content"> Description: <strong class="guitar-stats stat-values"> <%- guitar.description %> </strong> </p>
        
        

    </div>
</div>
