

<div style="display:flex;">
    <div class="view">
        <img src= <%- guitar.image %> alt="Guitar image... At least it should have been...">
    </div>

    <div class="guitar-content">
        <p class="content"> <span class="tag">Name:</span> <strong class="guitar-stats stat-values"> <%- guitar.guitarName %> </strong> </p>
        <p class="content"> <span class="tag">Price:</span> <strong class="guitar-stats stat-values"> <%- guitar.price %> </strong> </p>
        <p class="content"> <span class="tag">Description:</span> <strong class="guitar-stats stat-values"> <%- guitar.description %> </strong> </p>
        
    </div>

</div>
    <div class="center-flex">
            <button class="sexy-button" id ="add-to-cart-button">Add to cart</button>
    </div>
