<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Guitar4U</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div id="page">
        <div class="nav">
            <nav>
                    <span> <a href="#">ALL GUITARS</a> </span>
                    <span> <a href="#">YOUR CART</a> </span>
            </nav>
        </div>
        
        <%- body %>
    </div> 
</body>
</html>