
<div class="home">
    
    <h1>Welcome to Guitar Heaven!</h1>

    <div class = "input_search">
        <div class="back-color-white block search_block center-flex fire-color">
            <a id = "welcome-button"href = "/catalog">Find me a guitar</a>
        </div>
    </div>

    
</div>
