<div class="home">
    <h1 >Welcome to the Guitar Heaven!</h1>
    <div class = "input_search">
        <div class="back-color-white block search_block">
            <input type="text" class="search_box" placeholder="FIND ME A GUITAR">
            <i class="fas fa-search">
            </i>
        </div>
    </div>
</div>