body{
    background-color: black;
    background-image: url("../resources/images/acoustic_guitar_cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 20px;
    /* font-family: "FlameOn"; */
    color: red; 
}


@font-face {
    font-family: "FlameOn";
    src: url(../resources/play_with_fire/Play\ With\ Fire.ttf);
}


.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea:focus, input:focus{
    outline: none;
}

/* li{
    margin: 0;
} */

input{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    padding: 10px;
    text-align: center;
    caret-color: red;
    color: red;
    border: none;
    background-color: transparent;
    text-transform: capitalize;
}

div#page{
    color: red;
    margin: auto;
    margin-bottom: 100px;
    width: 90%;
    height: 100%;
}
i.fas{
    padding-right: 5px;
    color: inherit;
}

h1{
    font-size: 150px;
    color: rgb(255, 102, 0);
}

h2{
    font-size: 120px;
    color: rgb(255, 102, 0);
}

/* unvisited link */
a {
    color: rgb(255, 102, 0);
    font-size: 20px;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 102, 0);
}

a:hover {
    color: rgb(255, 102, 0);
}

.navigation{
    align-items: center;
    border-bottom: 3px dotted rgb(255, 0,0 );
    justify-content: space-between;
    padding: 0 20px 0 30px;
    display: flex;
    font-family: "FlameOn";
}

ul{
    list-style-type: none;
}

.fire-color{
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-color: #a40606;
    padding-right: 10px;
    background-image: linear-gradient(315deg, rgb(255, 102, 0) 0%, #d92424 74%);
}

li.nav_link{
    /* background-color: #ff4e00; */
    /* background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%); */
    
    animation: navbar-align 1.5s ease-out;
    animation-fill-mode: forwards;
}

#welcome-button{
    font-size: 120%;
    padding: 0 !important;
}


img#LOGO{
    width: 50px;
    height: auto;
    vertical-align: middle;
}


span.LOGO ul{
    display: flex;
    padding-left: 0;
} 

span.LOGO ul li{
    display: flex;
    align-items: center;
}

span.LOGO a{
    font-size: 40px;
}

ul#nav_links{
    display: flex;  
}


footer{
    margin-top: 40px;
    position: relative;
    bottom: 0;
    left: 0;
    font-family: "FlameOn";
}

div.home{
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 1px;
    margin-top: 5%;
    border: 2px solid rgba(255, 0, 0);
    border-radius: 100px;
}

div.input_search{
    display: flex;
    border-radius: 25px;
    margin-top: 10%;
    position: relative;
}

.block{
    display: flex;
}

.back-color-white{
    background-color: white;
}
.back-color-black{
    background-color: black;
}

div.search_block{
    vertical-align: middle;
    margin: auto;
    position: relative;
    border-radius: 25px;    
    padding: 0;
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 11.2.1 */
    -moz-animation: fadein 1.2s; /* Firefox < 16 */
    -ms-animation: fadein 1.2s; /* Internet Explorer */
    -o-animation: fadein 1.2s; /* Opera < 11.2.1 */
    animation: fadein 1.2s;
    /* display: flex; */
}

div.search-block:focus{
    border: 1px solid red;

}

ul.footer-bar{
    display: flex;
    position: relative;
    margin: auto;
}

ul.footer-bar li{
    margin: 15px;
}

div.footer-div{
    padding: 15px;
    display:flex;
}

div.collection{
    width: 450px;
    background: rgba(112, 111, 111, 0.589);
    margin: 20px;
    /* height: 100; */
}

div.collection img{
    width: 150px;
    /* margin: 20px auto; */
}

div.collection-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 3%;
    /* white-space: normal; */
}

a{
    display: contents;
}


div.view{
    width: 50%;
    min-height: 100vh;    
}

div.view img{
    max-height: 100%;
    width: 99%;
    border-radius: 25px;
}

#guitars-wrapper{
    -webkit-animation: fadein 1.2s; /* Safari, Chrome and Opera > 11.2.1 */
  -moz-animation: fadein 1.2s; /* Firefox < 16 */
  -ms-animation: fadein 1.2s; /* Internet Explorer */
  -o-animation: fadein 1.2s; /* Opera < 11.2.1 */
  animation: fadein 1.2s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.guitar-content{
    border: 2px  solid orange;
    background-color: rgba(83, 79, 79, 0.794);
    border-radius: 25px;
    width: 50%;
    font-size: 20px;
    padding: 20px;
    overflow: auto;
    align-content: center;
}

::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

strong.guitar-stats{
    color: orange;
    font-size: 20px;
}

.content{
    display: flex;
    align-items: center;
    width: 97%;
    justify-content: space-between;
    min-height: 60px;
}
strong.stat-values{
    font-size: 30px;
}

div#main-content{
    margin-top: 3%;
}

button{
    background: transparent;
    border: none;
    color: inherit;
    padding: 9px;
    padding-bottom: 20px;
    border-radius: 25px;
}

button:focus{
    outline: none;
}


.guitar-name{
    max-height: 30px;
    transition: all 0.5s ease-out ;
    overflow: hidden;
}

.guitar-name:hover{
    max-height: 100px;
}

.tag{
    width: 110px;
    margin-right: 10px;
}

#add-to-cart-button{
    margin-top: 100px;
}

.sexy-button{
    color: white;
    font-size: 0.9em;
    font-weight: 600;
    cursor: pointer;
    font-family: "FlameOn";
    width: 200px;
    padding: 20px;
    background-image: linear-gradient(230deg, rgb(255, 102, 0), #ff4800 ,rgb(255, 217, 0), #ff4800, #d92424 );
    box-shadow: 0 4px 15px 0 rgba(255, 102, 0, 0.75);
    background-size: 300% 100%;
    border-radius: 50px;
    border:none; 

    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;

}
.sexy-button:hover{
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.sexy-button:focus{
    outline: none;
}