body{
    background-color: black;
    background-image: url("../resources/images/acoustic_guitar_cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 30px;
    font-family: "FlameOn";
    color: red; 
}

@font-face {
    font-family: "FlameOn";
    src: url(../resources/flame_on/Flame\ on!.ttf);
}

textarea:focus, input:focus{
    outline: none;
}

input{
    font-family: "FlameOn";
    font-size: 20px;
    text-align: center;
    caret-color: red;
    color: red;
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    /* border-radius: 25px; */
    /* font-style: Bold; */
}

div#page{
    color: red;
    margin: auto;
    margin-top: 0px;
    width: 90%;
    margin-bottom: 50px;
    height: 1000px;
}
i.fas{
    padding: 5px 5px 0 0;
    color: inherit;
}
h1{
    font-size: 100px;
    color: orange;
}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
    font-size: 30px;    
}
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: rgb(255, 102, 0);
    /* background-color: rgb(184, 138, 120); */
}

.navigation{
    border-bottom: 3px dotted rgb(255, 0,0 );
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 30px;
    display: flex;
}

ul{
    list-style-type: none;
}

li.nav_link{
    margin-right: 25px;
}

img#LOGO{
    width: 50px;
    vertical-align: middle;
}

span.LOGO a{
    font-size: 40px;
}

ul#nav_links{
    display: flex;  
}


footer{
    margin-top: 40px;
}

div.home{
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 1px;
    margin-top: 5%;
    border: 2px solid rgba(255, 0, 0);
    border-radius: 100px;
}

div.input_search{
    display: flex;
    border-radius: 25px;
    margin-top: 10%;
    position: relative;
}

.block{
    display: flex;
}

.back-color-white{
    background-color: white;
}
.back-color-black{
    background-color: black;
}

div.search_block{
    vertical-align: middle;
    margin: auto;
    position: relative;
    border-radius: 25px;

    /* display: flex; */
}

ul.footer-bar{
    display: flex;
    position: relative;
    margin: auto;
}

ul.footer-bar li{
    margin: 15px;
}

div.footer-div{
    padding: 15px;
    display:flex;
}