body{
    background-color: black;
    background-image: url("../resources/images/acoustic_guitar_cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 30px;
    font-family: "FlameOn";
}

@font-face {
    font-family: "FlameOn";
    src: url(../resources/flame_on/Flame\ on!.ttf);
}

div#page{
    color: orange;
    margin: auto;
    margin-top: 0px;
    width: 90%;
    height: 5000px;
    background-color: rgba(0, 0, 0, 0.6);
}

h1{
    font-size: 80px;
}

/* unvisited link */
a:link {
    color: red;
    text-decoration: none;
    font-size: 30px;    
}
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: orange;
    /* background-color: rgb(184, 138, 120); */
}

.navigation{
    border-bottom: 3px dotted rgb(255, 0,0 );
    height: 100px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px 0 30px;
    display: flex;
}

ul{
    list-style-type: none;
    /* display: flex; */
}

li.nav_link{
    margin-right: 25px;
}

span.LOGO a{
    font-size: 40px;
}

ul#nav_links{
    display: flex;  
}


div.home{
    text-align: center;
}